In [5]:
import numpy as np
import pandas as pd

In [10]:
ar=[12,54,76,23,45,67,89]
avg=np.sum(ar)/len(ar)
print("Average of the array is: ",avg)
ar=np.array([12,54,76,23,45,67,89])
ar2=np.array(ar * 2)
print("Array after multiplying by 2: ",ar2)
ar2.sort()
print("Sorted array: ",ar2)
avg=ar2.mean()
print("Average of the array is: ",avg)

Average of the array is:  52.285714285714285
Array after multiplying by 2:  [ 24 108 152  46  90 134 178]
Sorted array:  [ 24  46  90 108 134 152 178]
Average of the array is:  104.57142857142857

In [11]:
!wget https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

--2025-05-13 18:12:01--  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.07s

2025-05-13 18:12:02 (836 KB/s) - ‘titanic.csv’ saved [60302/60302]

In [15]:
# how to read a csv file 
Dataset=pd.read_csv("titanic.csv")
print(df.head(3))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

In [18]:
Age=Dataset["Age"]

In [23]:
print("Age of the first 3 passengers: ",Age.head(3))

# get the each passenger's age one by one 

for i in range(0,6):
    print("Passenger ",i," age is: ",Age[i])

Average_of_age=Age.mean()
print("Average of age of all passengers: ",Average_of_age)

Age of the first 3 passengers:  0    22.0
1    38.0
2    26.0
Name: Age, dtype: float64
Passenger  0  age is:  22.0
Passenger  1  age is:  38.0
Passenger  2  age is:  26.0
Passenger  3  age is:  35.0
Passenger  4  age is:  35.0
Passenger  5  age is:  nan
Average of age of all passengers:  29.69911764705882